.card-body {
    // background: pink;
    background: Url('../img/zahne.svg');
    background-size: 100%;
    background-position-y: center;
    background-color: deeppink;
    // background: no-repeat;
    // background: url('img/zahne.svg');
}